.table {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.table__item {
  max-width: 400px;
}

.table__item:hover {
  width: 360px;
  transform: scale(1.1, 1.1);
}

.table__image {
  width: 100%;
  object-fit: cover;
  border-radius: 32px 32px 0 0;
}

.table__content {
  padding: 24px;
  width: 100%;
}

.table__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 8px;
}

.table__subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #9b9b9b;
  margin-bottom: 20px;
}

.table__price {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  color: #9b9b9b;
  margin-bottom: 16px;
}

.table__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.table__value {
  font-size: 24px;
  font-weight: 700;
}

.table__amount {
  font-size: 16px;
}

.table__button {
  width: 100%;
  height: 54px;
  background: linear-gradient(180deg, rgba(242, 105, 179, 1) 0%, rgba(170, 135, 212, 1) 100%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
}

.table__button:hover {
  background: linear-gradient(180deg, rgba(170, 135, 212, 1) 0%, rgba(242, 105, 179, 1) 100%);
  font-size: 26px;
  border: 1px solid white;
}

@media screen and (max-width:800px) {
  .table {
    flex-wrap: wrap;
    gap: 40px;
  }
}

@media screen and (max-width:768px) {
  .table {
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .table__item {
    max-width: 720px;
    display: flex;
    border: 1px solid white;
    border-radius: 32px;
  }

  .table__item:hover {
    width: 100%;
    transform: scale(1, 1);
  }

  .table__image {
    width: 50%;
    border-radius: 32px 0 0 32px;
  }

  .table__title {
    font-size: 24px;
    line-height: 20px;
  }

  .table__content {
    padding: 12px;
  }
}